.services-listing {
	font-style: italic;
	display: grid;
	grid-gap: 10px 20px;
	grid-template-columns: repeat(2, 20%);
    	grid-template-rows: repeat(3, 150%);
  	align-items: center;
  	justify-items: end;
	justify-content: end;
}

.service {
	background-color: #e3fae9;
	padding: .5rem;
}

.service p {
	margin: 0;
}

